.main-cartPage {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

  
  .cart-page h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .cart-item h3 {
    font-size: 1.2rem;
  }
  
  .cart-item p {
    margin: 0;
  }
  
  .delete-btn {
    border: none;
    background-color: transparent;
  }
  .delete-btn .fa-trash-can{
    color: #e5195f;
    font-size: 18px;
  }

  
  .delete-btn .fa-trash-can:hover {
    color: #c4123f;
  }
  
  .cart-page p {
    text-align: center;
    font-size: 1.1rem;
    color: #555;
  }

  .cart-total {
    display: flex;
    justify-content: space-between;
}
.booking-btn {
  background-color: #e5195f;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}