.categorie-card{
  display: flex;
  align-items: center;
  gap: 50px;
  height: 60px;
  border-radius: 10px;
}
.categorie-card:hover{
    background-color: #A0BCE0; 
    border: none;
}
.categorie-card a{
    text-decoration: none;
    height: 100%;
    border-radius: 10px 0 0 10px;
    background-color: #A0BCE0; 
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
    
.categorie-card p {
    font-size: 0.8rem;
    margin-top: 5px;
    margin-bottom: 10px;
   
}