.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
  
.header .logo {
    width: 80px;
    height: 60px;
}
.header .logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.header .nav {
    display: flex;
    gap: 48px; 
}
.header .nav a{
      text-decoration: none; 
      color: #A0BCE0;
}
 
.header .nav a:visited,  
.header .nav a:active {
    color: none; 
}
.header .nav a:hover{
    text-decoration: underline; 
}
  
.header .user-section {
    display: flex;
    gap: 24px;
    align-items: center;
    color: #A0BCE0;
    cursor: pointer;
}
.header .user-section .cart a{
    color: #A0BCE0;
}

.header .user-section .user a:visited, 
.header .user-section .user a:active {
  color: none; 
}

.burger-menu {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 20;
    background-color: #E6ECF4;
    border-radius: 5px;
    box-shadow:  0 4px 8px #0000001a;
    padding: 30px;
    display: flex;
    flex-direction: column;
}
  
.dropdown-menu a, .dropdown-menu span {
    margin: 5px 0;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}
  
.dropdown-menu a:hover, .dropdown-menu span:hover {
    text-decoration: underline;
}